asn1crypto==0.22.0
bintrees==2.0.7
bkcharts==0.2
bleach==1.5.0
bokeh==0.12.6
boto==2.28.0
cffi==1.10.0
click==6.7
cryptography==1.8.1
cycler==0.10.0
decorator==4.0.11
dml==0.0.16.0
enum34==1.1.6
Flask==0.12.1
Flask-PyMongo==0.5.1
gdax==1.0.6
geopy==1.11.0
googlemaps==2.4.6
greenlet==0.4.12
html5lib==0.9999999
idna==2.5
ipython-genutils==0.2.0
isodate==0.5.4
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-core==4.3.0
lxml==3.7.3
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.0.2
msgpack-python==0.4.8
nbformat==4.3.0
neovim==0.1.13
networkx==1.11
numpy==1.13.3
olefile==0.44
packaging==16.8
pandas==0.20.3
pandas-datareader==0.5.0
parso==0.1.0
pbr==3.1.1
Pillow==4.3.0
plotly==2.0.14
praw==5.3.0
prawcore==0.13.0
protobuf==3.4.0
prov==1.5.0
pycparser==2.17
pyflakes==1.5.0
PyJWT==1.5.0
pymongo==3.4.0
pyOpenSSL==17.0.0
pyparsing==2.2.0
PyQt5==5.9
PySocks==1.6.7
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
rdflib==4.2.2
requests==2.13.0
requests-file==1.4.2
requests-ftp==0.3.1
schedule==0.4.2
scikit-learn==0.19.0
scipy==0.19.1
simplejson==3.11.1
sip==4.19.3
six==1.10.0
slackclient==1.1.0
stevedore==1.27.1
TA-Lib==0.4.10
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0rc2
tornado==4.5.1
traitlets==4.3.2
twilio==6.1.2
update-checker==0.16
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
websocket-client==0.40.0
Werkzeug==0.12.1
yapf==0.19.0
